@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/typograpy.scss' as *;
@use '../../styles/partials/variables' as *;

.menu-page{
    background-color: black;
    text-align: center;
}
.title{
    color: white;
    font-weight: 400;
    padding: 2rem 0;

}
.menu {
    text-align: center;
    background-color: $cafe-yellow;
    padding: 1rem;

    &__title{
        padding: 1rem 0 .3rem;
    }

    &__description{
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: solid .15rem black;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .75rem 0;
        padding-bottom: .5rem;
        border-bottom: .15rem dotted black;

        &-title1 {
            width: 30%;
            text-align: left;
        }
        &-title2 {
            width: 15%;
            text-align: right;
        }

        &-description {
            font-size: .75rem;
            padding: 0 0.5rem;
            width: 50%;

            @include tablet {
                font-size: .85rem;
            }
        }

        @include tablet {
            margin: 1rem 10rem;
        }
    }
}