@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/typograpy.scss' as *;
@use '../../styles/partials/variables' as *;

.footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: $cafe-yellow;

    &__container {
        width: 30%;
        text-decoration: none;
        color: black;

        &-text {
            &:hover {
                text-decoration: underline;
                font-weight: bold;
            }
        }

    }

}