@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/typograpy.scss' as *;
@use '../../styles/partials/variables' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    &__logo {
        width: 12%;

        @include tablet {
            width: 13%;
        }
    }

    &__nav {
        display: flex;
        align-items: baseline;
        gap: 1rem;
        font-size: 1rem;

        @include tablet {
            font-size: 1.2rem;
        }
        &-a {
            color: white;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
        &-a2 {
            color: black;
            background-color: $cafe-yellow;
            padding: .5rem;
            text-decoration: none;
            font-weight: bold;
            margin-right: .5rem;
        }
    }

    @include tablet {
        padding: 0 4rem;
    }
}